// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "TRY Bluu Suuperstar", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "TRY Bluu Suuperstar", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines

@font-face {
  font-family: 'TRY Bluu Suuperstar';
  src: url('TRYBluuSuuperstar-Regular.woff2') format('woff2'),
      url('TRYBluuSuuperstar-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$my-font: "TRY Bluu Suuperstar";
