// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1559732277-e1404199c712?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 465px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px
}

.main-container {
  background-color: rgb(255, 255, 255);
}

.home-phrase {
  font-size: 80px;
  padding: 40px;
  padding-bottom: 20px;
  margin-bottom: 20;
  font-family: $my-font;
  color: rgb(68, 68, 68);
}

.home-text {
  text-align: center;
  padding: 30px;
  font-family: $my-font;
  margin-bottom: 60;
}

.carousel .carousel-item {
  height: 600px;
}

.title-link {
  color: black;
}

.address {
  opacity: 70%;
}

.price {
  font-size:large;
}

.minitext {
  padding-top: 40px;
  padding-left: 64px;
}
