// Import page-specific CSS files here.
@import "home";
@import "show";
@import "indexbooking";

.card {
  padding: 0px;
  border-radius: 20px;
  border-style: hidden;
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  padding: 80px;
}

.card-img-top {
  border-radius:20px;
}

.card-body {
  background-color: white;
}
