// Import page-specific CSS files here.
@import "home";
@import "show";
@import "indexbooking";

.card {
  padding: 0px;
  border-radius: 15px;
  border-style: hidden;
  background-color: white;

}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  padding: 58px;
}

.card-img-top {
  border-radius:4px;
  object-fit: cover;
  height: 200px;
}

.card-body {
  background-color: white;
}

.HoverDiv img{
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.HoverDiv img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
