.show-title {
  h1 {
    font-size: 35px;
    font-weight: bold;
  }

}
.image-container {
  margin: 50px 0;
}
.image-show {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.show-title {
  margin: 50px 0;
  padding: 16px 0;
}
.separation {
  height: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  margin-bottom: 24px;
}
.text-detail {
  *{
    padding: 24px 0;
  }
  margin-bottom: 32px;
}
.booknow {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 10px;

}
.bookcard {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  margin: 20px 0;
}
.map-container {
  background-color: rgb(200, 200, 200);
  border-radius: 16px;
  height: 400px;
  width: 100%;
  text-align: center;
}
.submit {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 30px;
  border-radius: 4px;
}

#this-stuff {
  padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    background-color: #F4F4F4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-top: 5px;
    margin-bottom: 20px;
}
.col-3 {
  flex: 0 0 auto;
  width: 24%;
}

.bottom-box {
  display: flex;
  align-items: center;
  .vertical-border {
    border-left: 1px solid rgba(0, 0, 0, 0.164);
    margin: 50px;
    height: 400px;
  }
  .address {
    height: 150px;
  }
  ul {
    list-style-type: none;
  }
}
#iftxt {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: x-large;
}
