.footer {
  background: #383838;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.694);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color:rgba(255, 255, 255, 0.913);
  opacity: 0.40;
  text-decoration: none;
  font-size: 24px;
  margin-top: 15px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
