<h1>Index Page</h1>


<div class="card-container">
      <% @studios.each do |studio| %>
      <div class="card">
        <h3><%= studio.name %></h3>
        <%= studio.address %>
        <%= studio.price %>
        <%= studio.description %>
      </div>
      <% end %>
</div>
